@use "./variables" as *;
@use "./mixins" as *;

.main {
  background-color: $bg;
  padding: 5rem;
  min-height: 100vh;
}

.page {
  max-width: $max-width;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 2rem;
  border: 4px solid black;
  border-radius: 20px;
  background-color: $bg2;

  &__title {
    @include elementSpace;
    color: $contrast;
    font-size: 4rem;
    font-weight: 400;
    text-decoration: underline;
    text-decoration-style: double;
    text-decoration-thickness: 0.2rem;
  }

  &__subtitle {
    @include elementSpace;
    font-size: 1.5rem;
  }
}

.form {
  @include elementSpace;

  &__btn {
    padding: 0.5rem;
    color: $contrast;
    background-color: #fff;
    border: 2px solid black;
    border-radius: 5px;

    &:hover {
      background-color: $contrast;
      color: white;
    }
  }
}

.fact {
  background-color: white;
  padding: 2rem;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 10px 10px 5px $contrast;
  width: 100%;
  min-height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    font-size: 1rem;
    font-weight: 800;
  }
}
